* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
main {
    margin-top: 20px;
}
main h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #525252;
}