* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
header {
    display: flex;
    padding-top: 20px;
    background-color: #323031;
    color: #f5f5f5;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}
header h1 {
    font-size: 40px;
}
form {
    margin-top: 50px;
}
.form form {
    display: flex;
    flex-direction: column;
}
#text {
    margin-bottom: 10px;
}
#date {
    margin-bottom: 5px;
    font-size: 20px;
}
.img {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.img p {
    margin-bottom: 10px;
    font-weight: bold;
}
main {
    flex: 1 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 290px;
    margin: 20px auto;
}
main h2 {
    text-align: center;
    margin-bottom: 5px;
}
main p {
    margin: 10px;
    font-size: 20px;
    text-align: justify;
}
#img-apod {
    max-height: 500px;
}
#send {
    margin-bottom: 10px;
}
#send {
    margin-bottom: 10px;
}
footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    background-color: #323031;
    color: #f5f5f5;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.copy p {
    font-size: 15px;
}
.info {
    display: flex;
    
}
.info p {
    margin-right: 10px;
}
.info a {
    text-decoration: none;
    color: #f5f5f5;
    text-transform: uppercase;
}
@media(max-width: 550px) {
    
    #img-apod {
        max-height: 300px;
    }

}
@media(max-width: 350px) {
    
    #img-apod {
        max-height: 250px;
    }

}
